/* Navbar */

.navbar__grid {
  display: none;
}

.navbar {
  display: inline;
}

.neural {
  display: inline;
}

.white__navbar-container__logo {
  display: none;
}

/* Octagrid */

.octagrid {
  display: grid;
  grid-template-areas: 
    "mercury venus earth mars"
    "jupiter saturn uranus neptune";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}