@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Attributtes */

.bold700 {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.no-underline {
  text-decoration: none;
}

.d-none-300 {
  display: none;
}

/* Root colores */

:root {
  --white-tnw: #f9f9f9;
  --gray1: #a1a1a1;
  --gray2: #aaa;
  --gray3: #555;
  --black-tnw: #131313;
  --orange-tnw: #f42;
  --light-orange: #ffebe8;
  --lighter-orange: #fffaf8;
  --orange-line: #ffccc3;
}

/* Navbar */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.navbar__grid {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 2;
}

.black__navbar {
  display: none;
}

.white__navbar {
  background: #fff;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.155);
  position: relative;
}

.white__navbar-container__logo-img {
  width: 103px;
  height: 48px;
}

.white__navbar-links {
  display: none;
  padding-left: 15px;
  align-self: center;
}

.wnl {
  padding: 0 5px;
}

.wnl-a {
  color: var(--gray2);
}

.wnl-a:hover {
  color: var(--black-tnw);
}

.white__navbar-container__search-and-menu {
  list-style: none;
  display: flex;
  border-left: 1px solid #eee;

}

.white__navbar-container__search {
  border-right: 1px solid #eee;
}

.fa-search {
  color: var(--gray2);
  padding: 1em;
}

.fa-bars {
  color: var(--orange-tnw);
  padding: 1em;
}

/* Trigrid */

.trigrid {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  grid-template-areas:
    "first"
    "second"
    "third";
}

.trigrid-article1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Coronavirus-model-796x418.jpg");
  height: 150px;
  padding: 15px;
}

.trigrid-article2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/waymo-level-4-germany-legislation-automotive-cars-future-self-driving-autonomous-796x446.jpg");
  height: 150px;
  padding: 15px;
}

.trigrid-article3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/sheets_formula-796x417.png");
  height: 150px;
  padding: 15px;
}

.tga-category {
  color: var(--white-tnw);
}

.tga-title {
  color: var(--white-tnw);
  font-size: 1.5em;
}

.tga-p {
  color: var(--gray2);
}

.tga-p-a {
  color: var(--gray2);
}

/* Octagrid */

.latest__news-container {
  padding-top: 2rem;
  padding-left: 20px;
}

.ln-a {
  color: var(--orange-tnw);
  font-size: 2rem;
}

.ln-a:hover {
  color: var(--black-tnw);
}

.octagrid {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.og1 {
  grid-area: mercury;
}

.og2 {
  grid-area: venus;
}

.og3 {
  grid-area: earth;
}

.og4 {
  grid-area: mars;
}

.og5 {
  grid-area: jupiter;
}

.og6 {
  grid-area: saturn;
}

.og7 {
  grid-area: uranus;
}

.og8 {
  grid-area: neptune;
}

.og-img {
  grid-area: image;
  width: 100px;
  height: 100px;
}

.og-title {
  grid-area: title;
}

.og-author {
  grid-area: author-date;
}

.octagrid__container {
  padding: 10px 0;
  display: grid;
  grid-template-areas:
    "image title"
    "image author-date";
  grid-template-columns: 100px 3fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.og-title-a {
  color: var(--black-tnw);
}

.og-title-a:hover {
  color: var(--orange-tnw);
}

.og-author {
  color: var(--gray1);
}

.og-author-a {
  color: var(--gray1)
}

.og-author-a:hover {
  color: var(--gray3);
}

/* Index Co */

.index__co {
  padding: 20px;
  z-index: 1;
}

.ict-h1 {
  color: var(--orange-tnw);
}

.ict-h1-a {
  color: var(--orange-tnw);
}

.ict-h1-a:hover {
  color: var(--black-tnw);
}

.ict-info-ul {
  padding-top: 10px;
  list-style: none;
}

.ict-info-items {
  color: var(--orange-tnw);
}

.ict-info-items:hover {
  color: var(--black-tnw);
}

.ict-info-p {
  color: var(--orange-tnw);
  display: none;
}

.ict-info-a {
  color: var(--orange-tnw);
}

.ict-info-a:hover {
  color: var(--black-tnw);
}

.index__co-title {
  padding-bottom: 1rem;
}

.index__co-container {
  padding-top: 1rem;
}

.index__co-square {
 
}

.ics-header {
  position: relative;
}

.ics-img {
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.ics-h2-white {
  color: var(--white-tnw);
  background: var(--orange-tnw);
  padding: 0.5rem 0.5rem 0.5rem 5rem;
  font-size: 18px;
}

.ics-subheader {
  background: var(--light-orange);
  padding: 0.5rem 0.5rem 1rem 5rem;
}

.ics-h2-black {
  color: var(--black-tnw);
  background: var(--light-orange);
  font-size: 18px;
}

.ics-subheader-p {
  color: var(--gray3);
  font-size: 12px;
}

.ics-subheader-2 {
  background: var(--lighter-orange);
  padding: 1rem 0.5rem 1rem 10px;
  border-bottom: 1px solid var(--orange-line);
}

.ics-subheader-2-ul {
  list-style: none;
}

.ics-subheader-2-a {
  line-height: 1.5rem;
  color: var(--black-tnw);
  font-size: 12px;
}

.ics-subheader-3 {
  background: var(--lighter-orange);
  padding: 1rem 0.5rem 1rem 10px;
}